.root {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #202124;
}

.icons {
  width: 32px;
  cursor: pointer;
  padding: 4px;
}

.iconPanel {
  display: flex;
  width: 60px;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.logo {
  padding: 12px;
}
.user {
  position: fixed;
  left: 0;
  margin-left: 12px;
  margin-bottom: 12px;
  bottom: 0;
  width: 32px;
}
.options {
  position: absolute;
  top: -100px;
  left: 30px;
  background-color: #36373b;
  border-radius: 4px;
  box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.1);
  padding: 8px;
  z-index: 1;
  width: 200px;
}

.options button {
  display: block;
  width: 100%;
  padding: 8px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.options button:hover {
  border-radius: 4px;
  background-color: #555555;
}
.userName {
  font-size: 14px;
  font-weight: bold;
}
.convo:hover {
  background-color: #3b3b3b;
  cursor: pointer;
}
.nameTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}
.conversations {
  display: flex;
  padding: 10px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #3b3b3b;
}

.peopleList {
  display: flex;
  flex-direction: column;
}
.people {
  border-left: 1px solid #3b3b3b;
  width: 300px;
}

.personInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.person {
  padding: 8px;
  gap: 10px;
}
.activeConvo {
  padding: 8px;
  background-color: #3b3b3b;
}

.messenger {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-left: 1px solid #3b3b3b;
  width: 100%;
}
.tabs {
  width: 100%;
  text-align: center;
  padding: 28px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tabs > div.active {
  border: 2px solid white;
  border-radius: 12px;
}

.smallIcons {
  width: 18px;
}
.active {
  box-shadow: inset 0 0 10px #ffffff;

  color: blanchedalmond;
}
input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin: 8px;
  height: 40px;
  transition: border-color 0.3s, box-shadow 0.3s; 
  width: calc(100% - 32px);
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}

input::placeholder {
  color: #999;
}

.conversationContainer {
  display: flex;
  flex-direction: column;
}

.messageContainer {
  max-width: 70%;
  min-width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
}

.sentMessage {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.receivedMessage {
  align-self: flex-start;
  background-color: #eaeaea;
}

.messageText {
  font-size: 16px;
  color: black;
}

.messageDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: #666;
}

.sender {
  font-weight: bold;
}

.timestamp {
  font-size: 12px;
  color: #666;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.nonHighlightedText {
  color: #666;
  font-size: 14px;
}
.messagesContianer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow-y: scroll;
  height: 100%;
  margin-bottom: 50px;
}
.noConversationText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  color: #666;
}
.scrollAnimation {
  scroll-behavior: smooth;
  transition: scroll-behavior 0.5s ease-in-out;
}